/* FONTS */

/* Fraunces */
@font-face {
    font-family: 'Fraunces';
    font-weight: 400;
    src: url('../fonts/Fraunces/fraunces-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/Fraunces/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-weight: 900;
    src: url('../fonts/Fraunces/fraunces-v10-latin-900.woff2') format('woff2'),
        url('../fonts/Fraunces/fraunces-v10-latin-900.woff') format('woff');
}

/* Barlow */
@font-face {
    font-family: 'Barlow';
    font-weight: 400;
    src: url('../fonts/barlow/barlow-v5-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow/barlow-v5-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-weight: 700;
    src: url('../fonts/barlow/barlow-v5-latin-700.woff2') format('woff2'),
        url('../fonts/barlow/barlow-v5-latin-700.woff') format('woff');
}


/*  */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #FEFCF7;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-family: 'Fraunces', 'Times new roman', serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-item+.header-item {
    margin-left: 32px;
}

.header-item a {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    text-decoration: none;
    color: #83888F;
    transition: color 0.25s ease;
}

.header-item a:hover {
    color: #333D4B;
}

/* HERO */

.hero .container {
    width: 1280px;
    padding: 0;
    padding: 117px 85px;
    background-image: url(../images/jpg/hero-picture.jpg);
    background-position: left 0 bottom -250px;
    border-radius: 10px;
}

.hero-info {
    width: 495px;
}

.hero-heading {
    margin: 0;
    margin-bottom: 32px;
}

.hero-text {
    width: 445px;
    margin-bottom: 56px;
    color: #FEFCF7;
    opacity: 0.8;
}

.hero-link {
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Fraunces', 'Times new roman', serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
    transition: background-color 0.25s ease;
}

.hero-link:hover {
    background-color: #66D2CF;
}

/* PRODUCTS */

.products .container {
    position: relative;
    padding-top: 260px;
}

.products-heading {
    position: absolute;
    top: 220px;
    right: 50%;
    transform: translateX(50%);
    z-index: -2;
    margin: 0;
    font-family: 'Fraunces', 'Times new roman', serif;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    white-space: nowrap;
    color: #83888F;
}

.products-heading::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    height: 200px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.product-menu {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.product {
    width: 255px;
    text-align: center;
}

.product img {
    margin-bottom: 72px;
}

.product-name {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces', 'Times new roman', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.product-text {
    margin: 0;
}